body {
  padding-top: 10%;
}

section#login {
  min-height: 50vh;
}

#login {
  background-size: cover;
  background-image: url('https://i.ytimg.com/vi/N5TP1QvM0ww/maxresdefault.jpg')
}

.answer-button {
  min-height: 100px;
}