body {
  padding-top: 5%;
}

#login {
  padding: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("https://i.imgur.com/CHT4KW9.jpg");
}

.answer-button {
  cursor: pointer;
  min-height: 100px;
}

.absolute-answer-toggle {
  z-index: 1;
  top: 100px;
  right: 10px;
  width: 100px;
  height: 75px;
  position: fixed;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}

.absolute-question-shuffle {
  z-index: 1;
  top: 200px;
  right: 10px;
  width: 100px;
  height: 75px;
  position: fixed;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}

@media (pointer: none), (pointer: coarse) {
  body {
    padding-top: 10%;
  }
  h1#quiz-question {
    font-size: 1rem;
  }
  h4.option {
    cursor: pointer !important;
    font-size: 0.8rem;
  }
  div[role="tablist"] {
    margin-top: 1.5rem !important;
  }
  #main-tabpane-second {
    padding: 0px !important;
  }
  div.answer-button {
    min-height: 50px;
    text-align: center;
    padding: 2rem !important;
  }

  .absolute-answer-toggle {
    top: auto;
    z-index: 1;
    right: 10px;
    bottom: 20px;
    width: 100px;
    height: 50px;
    position: fixed;
  }
  
  .absolute-question-shuffle {
    top: auto;
    z-index: 1;
    right: 10px;
    bottom: 80px;
    width: 100px;
    height: 50px;
    position: fixed;
  }
  #landing {
    padding: 0px;
  }
}
