body {
  padding-top: 5%;
}

#login {
  padding: 5%;
  background-size: cover;
  background-image: url("https://i.ytimg.com/vi/N5TP1QvM0ww/maxresdefault.jpg");
}

.answer-button {
  min-height: 100px;
}

.absolute-answer-toggle {
  z-index: 1;
  top: 100px;
  right: 10px;
  width: 100px;
  height: 100px;
  position: fixed;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}

.absolute-question-shuffle {
  z-index: 1;
  top: 299px;
  right: 10px;
  width: 100px;
  height: 100px;
  position: fixed;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 10%;
  }
}

@media (pointer: none), (pointer: coarse) {
  h1#quiz-question {
    font-size: 1rem;
  }
  h4.option {
    font-size: 0.8rem;
  }
  div[role="tablist"] {
    margin-top: 1.5rem !important;
  }
  #main-tabpane-second {
    padding: 0px !important;
  }
  div.answer-button {
    min-height: 50px;
    text-align: center;
    padding: 2rem !important;
  }
  #toast {
    margin-left: -175px;
  }
}
