* {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 70px;
  font-family: $quicksand;
}

.toast-invalid {
  color: $off-white !important;
  border-radius: 5px !important;
  background-color: $error-text !important;
}

.toast-valid {
  color: $off-white !important;
  border-radius: 5px !important;
  background-color: $success-text !important;
}

.disable {
  pointer-events: none;
  opacity: 0.9 !important;
  box-shadow: none !important;
  background-color: #ccc !important;
}
